extends ../layouts/layout

block content
    h1 Settings
    p You can configure your deploy script through configuration files
        span.code=' sanelotto_local.json '
        | on local machine and
        span.code=' Sanelotto_server.json '
        | on server.