extends ../layouts/layout

block content
    h1 Sanelotto — deployment tool for any languages
    p Sanelotto is developed for fast and easy application deployment on the server.
    p Sanelotto is suitable for any frameworks and languages. The setup is quite easy - you need to simply edit the JSON configuration files and enter any comands on any desired language.
    p After creating the project you will get two directories, one for the local machine (usually a virtual machine on Continuous Integration service) and one for the server. The local part connects to the server through SHH after updating the repository on GitHub. After that, the local part updates the project on the server.
    section.row
        article.col-md-6
            h2 Features
            ul
                li SSH connection through SSH-key or login/password
                li Four types of custom commands: before the connection, after the first download, after updating, after the first downloading and updating
                li Automatically overwriting chosen files
                li Optional detailed logging
        article.col-md-6
            h2 Benefits
            ul
                li Simple and fast
                li Multilanguage
                li Full Open Source
                li Crossplatform
                li For any CI services
                li Highly customizable through configuration files
                li Full test coverage

    article.git_card
            .github-card(data-theme='medium', data-height='280', data-width='400', data-github='Vladimir37/Sanelotto')
            script(src='//cdn.jsdelivr.net/github-cards/latest/widget.js')
