doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title Sanelotto
        meta(name="description" content="Sanelotto - authomation tool for fast and simple deploy any applications to server.")
        meta(name="keywords" content="Sanelotto, CI, Continuous, Integration. Python, Node, Ruby, deploy, autodeploy")
        link(rel="stylesheet" href="/sources/bootstrap.css")
        link(rel="stylesheet" href="/sources/bootstrap-theme.css")
        link(rel="stylesheet" href="/sources/main.css")
    script(src="/sources/main.js")
    body
        section.header
            section.wrapper
                img(src="/logos/logo_mid.png" alt="logo_img")
                img(src="/logos/logo_text.png" alt="text_logo")
        section.content
            section.wrapper.wrapper_content
                nav(role="navigation").navbar.navbar-default
                    article.container-fluid
                        ul.nav.navbar-nav
                            li
                                a(href="/")
                                    b Home
                            li
                                a(href="/install.html") Install
                            li
                                a(href="/start.html") Start
                            li
                                a(href="/config.html") Settings
                            li
                                a(href="/overwriting.html") Overwriting
                            li
                                a(href="/logos.html") Logos
                block content