doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title Sanelotto
        meta(name="description" content="Sanelotto - application for auto-deploying. Sanelotto works in conjunction with Continuous-Integration systems.")
        meta(name="keywords" content="Sanelotto, CI, Continuous, Integration. Python, Node, Ruby, deploy, autodeploy")
        link(rel="stylesheet" href="/sources/bootstrap.css")
        link(rel="stylesheet" href="/sources/bootstrap-theme.css")
        link(rel="stylesheet" href="/sources/main.css")
    script(src="/sources/main.js")
    body
        section.header
            section.wrapper
            //    img(src="/src/img/logo/logo.png" alt="logo_img")
            //    img(src="/src/img/logo/text.png" alt="text_logo")
        section.content
            section.wrapper.wrapper_content
                nav(role="navigation").navbar.navbar-default
                    article.container-fluid
                        ul.nav.navbar-nav
                            li
                                a(href="/")
                                    article
                                        b Home
                            li
                                a(href="/install.html") Install
                            li
                                a(href="/start.html") Start
                            li
                                a(href="/config.html") Settings
                            li
                                a(href="/overwriting.html") Overwriting
                            li
                                a(href="/logos.html") Logos
                block content